body{
  text-align: center;
  margin: 0;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  background-color: grey;
  
}
.nav-options{
  display: flex;
  justify-content: space-evenly;
  width: 450px;
}

.course-container,
.student-container{
  display: flex;
  justify-content: space-around;
}

.form{
  display: flex;
  flex-direction: column;
}

.add-course-form-btn{
  width: 80px;
  align-self: center;
}

.student-grades-table-header, .course-grade-line{
  display: flex;
  /* justify-content: space-evenly; */
}
.table-header, .course-grade-item{
  margin: 0 5px;
  border: 1px solid black;
}
.blue-text{
  color: blue;
}