body{
  text-align: center;
  margin: 0;
}

.courses-container{
  display: flex;
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  background-color: grey;

}
.nav-options{
  display: flex;
  justify-content: space-evenly;
  width: 450px;
}